<mat-list>
        <mat-list-item   >
                <!-- <mat-icon mat-list-icon>Person</mat-icon> -->
                <img class="contact-avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
                <mat-form-field  class="full mynumber">
                  <mat-icon matPrefix>phone</mat-icon>
                  <input matInput (blur)="updateMyPhone()" [(ngModel)]="mynumber" placeholder="My Number">
                </mat-form-field>
                <button mat-fab [routerLink]="[ '/', 'contactadd']" >
                        <mat-icon aria-label="icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-list-item>
        <h3 mat-subheader>Contacts</h3>
        <mat-list-item  [routerLink]="[ '/', 'contacts', contact._id ]" class="contact-item" *ngFor="let contact of contacts">
          <!-- <mat-icon mat-list-icon>Person</mat-icon> -->
          <img class="contact-avatar" src="http://cdn.onlinewebfonts.com/svg/img_383210.png">
          <h4 mat-line class="contact-name">{{contact.name}}</h4>
        </mat-list-item>
      </mat-list>