<mat-list>
        <mat-list-item   >
                <!-- <mat-icon mat-list-icon>Person</mat-icon> -->
                <img class="contact-avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
                <h4 mat-line class="contact-name">My number: +912 23 23929</h4>
                <button mat-fab [routerLink]="[ '/', 'contactadd']" >
                        <mat-icon aria-label="icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-list-item>
        <h3 mat-subheader>Contacts</h3>
        <mat-list-item  [routerLink]="[ '/', 'contacts', '1' ]" class="contact-item" *ngFor="let contact of contacts">
          <!-- <mat-icon mat-list-icon>Person</mat-icon> -->
          <img class="contact-avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
          <h4 mat-line class="contact-name">{{contact.name}}</h4>
        </mat-list-item>

  
      </mat-list>