  <div class="contactcard">
<mat-card class="example-card" *ngIf="contactInfo">
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <div class="contacthead">
            <div mat-card-avatar class="contactimg example-header-image"></div>
            <mat-card-title>{{contactInfo.name}}</mat-card-title>
        </div>
        <!-- socialProfile -->
        <br />
        <!-- <a class="addbutton">+</a> -->
        <mat-form-field *ngFor="let phone of contactInfo.phone" class="full readonly">
                <mat-icon matPrefix>phone</mat-icon>
            <input matInput placeholder="Mobile" [disabled]="true" value="{{phone}}">
          </mat-form-field>
          <br/>
          <mat-form-field *ngFor="let email of contactInfo.email" class="full readonly">
                <mat-icon matPrefix>email</mat-icon>
            <input matInput placeholder="Email" [disabled]="true" value="{{email}}">
          </mat-form-field>
          <br/>
          <mat-form-field class="full readonly">
                <mat-icon matPrefix>location_city</mat-icon>
            <textarea matInput placeholder="Address" [disabled]="true" value="{{contactInfo.address}}"></textarea>
          </mat-form-field>
          <mat-form-field class="full readonly">
              <mat-icon matPrefix>date_range</mat-icon>
              <input matInput [matDatepicker]="picker"  [disabled]="true"  [(ngModel)]="contactInfo.birthday" placeholder="Birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          <mat-form-field class="full readonly">
              <mat-icon matPrefix>link</mat-icon>
          <input matInput placeholder="Social Profile"  [disabled]="true" value="{{contactInfo.socialProfile}}">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="[ '/', 'contactedit', contactInfo._id ]" >EDIT</button>
      <button mat-button (click)="deleteContact()">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>  