.example-card {
    /* max-width: 400px; */
  }
  
  .example-header-image {
    background-image: url('http://cdn.onlinewebfonts.com/svg/img_383210.png');
    background-size: cover;
  }
  .full{
    width: 100%;
  }
  .readonly{
    /* pointer-events: none */
  }
  .contactimg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    display: inline-block
  }
  .contacthead{
    text-align: center
  }
  .contactcard{
    max-width: 410px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }