
<div class="account-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

          <div class="example-container">
              <form novalidate
              (ngSubmit)="login()"
              [formGroup]="loginForm" #formDir="ngForm"
              class="form-group">
                    <mat-form-field class="justifier">
                            <mat-icon matPrefix>email</mat-icon>
                            <input matInput placeholder="Username" formControlName="username" text="text">
                        </mat-form-field>
                        <mat-form-field class="justifier">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input matInput placeholder="Password" type="password" formControlName="password" text="password">
                            </mat-form-field>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="validation-message">
                         
                         <div *ngIf="password.hasError('required')">
                           Password is required.
                         </div>
                         <div *ngIf="password.hasError('minlength')">
                           Password must be at least 6 characters long.
                         </div>
                       
                       </div>
                                <button color="primary" type="submit"  [disabled]="!loginForm.valid" class="fullwidth" mat-raised-button> 
                                       Login
                                    </button>
                                    <br />
                                    <br />
                                    <button mat-raised-button [routerLink]="[ '/', 'register' ]" class="fullwidth"> 
                                        Need an account? Register here.
                                    </button>
                                    </form>

              </div>
            </mat-card></div> 