<div class="contactcard">
        <mat-card class="example-card">
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <div class="contacthead">
                    <div class="contactimg add">
                        <div>Add Photo</div>
                    </div>
               
                    <mat-card-title *ngIf="contactInfo">{{contactInfo.name}}</mat-card-title>
                </div>
                <br />
                <!-- <a class="addbutton">+</a> socialProfile-->
                <mat-form-field class="full readonly">
                        <mat-icon matPrefix>person</mat-icon>
                    <input matInput placeholder="Name" [(ngModel)]="contactInfo.name">
                  </mat-form-field>
                  <br/>
                <mat-form-field  *ngFor="let phone of contactInfo.phone;let i=index; trackBy:indexTracker" class="full readonly">
                        <mat-icon matPrefix>phone</mat-icon>
                    <input matInput placeholder="Mobile" [(ngModel)]="contactInfo.phone[i]">
                  </mat-form-field>
                  <button mat-button class="contactbutton" (click)="addPhone()" color="primary">Add Phone</button>
                  <br/>
                  <mat-form-field *ngFor="let email of contactInfo.email;let index = index;trackBy:indexTracker" class="full readonly">
                        <mat-icon matPrefix>email</mat-icon>
                    <input matInput placeholder="Email" [(ngModel)]="contactInfo.email[index]">
                  </mat-form-field>
                  <button mat-button class="contactbutton" (click)="addEmail()" color="primary">Add Email</button>
                  <br/>
                  <mat-form-field class="full readonly">
                        <mat-icon matPrefix>location_city</mat-icon>
                    <textarea matInput placeholder="Address" [(ngModel)]="contactInfo.address"></textarea>
                  </mat-form-field>
                  <br/>
                  <mat-form-field class="full readonly">
                        <mat-icon matPrefix>date_range</mat-icon>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="contactInfo.birthday" placeholder="Birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <br/>
                      <mat-form-field class="full readonly">
                            <mat-icon matPrefix>link</mat-icon>
                        <input matInput placeholder="Social Profile" [(ngModel)]="contactInfo.socialProfile">
                      </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button  (click)="saveContact()" color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </div>  